.slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(22, 29, 45, 0.9);
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.slick-slider:hover .slick-arrow {
  opacity: 1;
}

.slick-slider .slick-arrow:hover {
  background-color: rgba(22, 29, 45, 1);
}

.slick-slider .slick-arrow::before {
  display: none;
}

.slick-slider .slick-arrow.slick-prev {
  transform: rotate(90deg) translateX(-50%);
  left: 30px;
}

.slick-slider .slick-arrow.slick-next {
  transform: rotate(-90deg) translateX(50%);
  right: 30px;
}

.slick-slider .slick-dots {
  opacity: 0;
  transition: opacity 0.3s;
}

.slick-slider:hover .slick-dots {
  opacity: 1;
}

.slick-slider .slick-dots li {
  padding: 5px;
}

.slick-slider .slick-dots button {
  width: 10px;
  height: 10px;
  background-color: rgb(164, 171, 177);
  border-radius: 50%;
}

.slick-slider .slick-dots button:hover {
  outline: 1px solid rgb(21, 99, 223);
  outline-offset: 2px;
}

.slick-slider .slick-dots .slick-active button {
  background-color: rgb(21, 99, 223);
  outline: 1px solid rgb(21, 99, 223);
  outline-offset: 2px;
}

.slick-slider .slick-dots button::before {
  display: none;
}

@media (max-width: 1024px) {
  .slick-slider .slick-arrow.slick-next,
  .slick-slider .slick-arrow.slick-prev {
    opacity: 0.5;
  }

  .slick-slider .slick-arrow,
  .slick-slider .slick-dots {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .slick-slider .slick-arrow {
    width: 35px;
    height: 35px;
  }
}
