@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-dark dark:bg-dark dark:text-white;
}

body.fixed-window {
  overflow: hidden;
}

@media (max-width: 1024px) {
  body.fixed-window {
    margin-right: 0px !important;
  }
}

@layer components {
  .container-block {
    @apply mx-auto max-w-[1112px] px-4;
  }

  .container-block-large {
    @apply container-block max-w-[1412px];
  }

  .bg-preview {
    background-image: url("../shared/assets/preview_image.webp");
  }

  .flex-container {
    @apply flex gap-2;
  }

  .flex-container > * {
    @apply w-full;
  }

  .input-theme {
    @apply h-ui w-full rounded-3xl border-1 border-gray bg-transparent px-4 py-2 text-sm text-dark placeholder:text-dark/50 focus:outline-0 dark:border-gray-second dark:text-white dark:placeholder:text-gray-second;
  }
}

.gm-style-iw-chr {
  height: 17px;
}
